* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "LeagueSpartan", sans-serif;
    color: white;
}



@font-face {
    font-family: "LeagueSpartan";
    src: url("LeagueSpartan-Bold.otf") format("opentype"),
    url("LeagueSpartan-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
body {
    background: black;
    font-family: "LeagueSpartan", sans-serif;
}

.flexbox {
    display: flex;
}

/* Header */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
}
.headercontainer {
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.headercontainer .title {
    align-items: center;
    gap: 10px;
}
.headercontainer .title h1.mobile {
    display: none;
}
.mobile{
    display: none;
}
.headercontainer .title .logo img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: white;
    object-fit: cover;
}
.headercontainer .nav {
    align-items: center;
    gap: 15px;
    padding: 10px 0px;
}
.headercontainer .nav .navitem {
    padding: 5px;
}
.headercontainer .nav .navitem i {
    font-size: 20px;
    transition: font-size 0.3s ease-in-out, font-weight 0.3s ease-in-out;

}
.headercontainer .nav .navitem a {
    /* display: none; */
    text-decoration: none;
    margin-left: 5px;
    font-size: 15px;
    transition: font-size 0.3s ease-in-out, font-weight 0.3s ease-in-out;

}
.headercontainer .nav .navitem:hover a {
    display: inline;
    font-weight: 700;
    font-size: 20px;

}
.headercontainer .nav .navitem:hover i {
    display: inline;
    font-weight: 700;
    font-size: 25px;
}
.headercontainer .navbutton a {
    display: block;
    text-decoration: none;
    padding: 15px 15px;
    background: linear-gradient(
            63deg,
            rgba(19, 83, 158, 1) 0%,
            rgba(140, 55, 212, 1) 38%,
            rgba(207, 99, 43, 1) 100%
    );
    color: white;
    font-weight: 600;
    border-radius: 10px;
    font-size: 15px;
    transition: background 0.3s ease, font-size 0.3s ease;
}

.headercontainer .navbutton a:hover {
    background: linear-gradient(
            -63deg,
            rgba(19, 83, 158, 1) 0%,
            rgba(140, 55, 212, 1) 38%,
            rgba(207, 99, 43, 1) 100%
    );
    color: white;
    font-weight: 600;
    border-radius: 10px;
    font-size: 20px;
    transform: scale(1.05);
}

.navbutton.mobile a {
    display: none;
    margin: 5%;
    width: 90%;
    text-decoration: none;
    padding: 15px;
    background: linear-gradient(
            63deg,
            rgba(19, 83, 158, 1) 0%,
            rgba(140, 55, 212, 1) 38%,
            rgba(207, 99, 43, 1) 100%
    );
    color: white;
    font-weight: 600;
    border-radius: 10px;
}
@media (max-width: 768px) {
    body {
        background: black;
        border: 4px solid;
        border-image: linear-gradient(
                63deg,
                rgba(19, 83, 158, 1) 0%,
                rgba(140, 55, 212, 1) 38%,
                rgba(207, 99, 43, 1) 100%
        )
        1;
    }
    .mobileIntro{
        margin: 20px;
        display: flex !important;
        justify-content: center; /* Horizontally centers the img */
        align-items: center;
    }
    .mobileIntro img{
        width: 300px;
        height: 300px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-content: center;

    }
    .mobile{
        display: block !important;
    }
    .mobileHide{
        display: none;
    }


    .headercontainer .title h1.mobile {
        display: block;
    }
    .headercontainer .title h1.non {
        display: none;
    }
    .headercontainer .title .logo {
        display: none;
    }
    .headercontainer .nav .navitem a {
        display: none;
    }
    .headercontainer .navbutton a {
        display: none;
    }
    .navbutton.mobile a {
        display: block;
    }
}
.margin10 {
    margin: 10px ;
}
.margin20 {
    margin: 20px;
    padding: 20px;
}
.mobileIntro{
    display: none;
}
.introimage img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
.mobile{
    display: none;
}


.block{
    display: block;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid white;
    justify-content: center;
    align-content: center;
}
.introtext p {
    line-height: 30px !important;
}
.scrollDown{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
/* Main */
body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.scroll-container {
    height: 300vh; /* Height for scrolling */
}

.scroll-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.scroll-section.active {
    opacity: 1;
    transform: translateY(0);
}

#section1 {
    background: #3498db;
    color: white;
}

#section2 {
    background: #e74c3c;
    color: white;
}

#section3 {
    background: #2ecc71;
    color: white;
}
/* Hall Of Fame */
