* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: white;
}
.right {
    line-height: 50px !important;
    margin-bottom: 100px;
    font-weight: 100;
    font-size: 30px !important;
    color: #ffffff !important;
    margin-bottom: 1rem !important;
}
.left {
    margin-bottom: 100px;
    line-height: 50px !important;
    font-weight: 100;
    font-size: 40px !important;
    color: #ffffff !important;
    margin-bottom: 1rem !important;
}


@font-face {
    font-family: "LeagueSpartan";
    src: url("simpletix.otf") format("opentype"),
    url("simpletix.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
body {
    background: black;
    font-family: "LeagueSpartan", sans-serif;
}

.flexboxColumn {
    display: flex;
    flex-direction: column;
}
.flexboxRow {
    display: flex;
    flex-direction: row;
}

/* Header */
header {
    top: 0;
    z-index: 1000;
}
.headercontainer {
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.headercontainer .title {
    align-items: center;
    gap: 10px;
}
.headercontainer .title h1.mobile {
    display: none;
}
.mobile{
    display: none;
}
.headercontainer .title .logo img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: white;
    object-fit: cover;
}
.headercontainer .nav {
    align-items: center;
    gap: 15px;
    padding: 10px 0px;
}
.headercontainer .nav .navitem {
    padding: 5px;
}
.headercontainer .nav .navitem i {
    font-size: 20px;
    transition: font-size 0.3s ease-in-out, font-weight 0.3s ease-in-out;

}
.headercontainer .nav .navitem a {
    /* display: none; */
    text-decoration: none;
    margin-left: 5px;
    font-size: 15px;
    transition: font-size 0.3s ease-in-out, font-weight 0.3s ease-in-out;

}
/*.same-width {*/
/*    gap: 10px;*/
/*}*/

.same-width {
    flex-basis: 100%;

}



.headercontainer .nav .navitem:hover a {
    display: inline;
    font-weight: 700;
    font-size: 20px;

}
.headercontainer .nav .navitem:hover i {
    display: inline;
    font-weight: 700;
    font-size: 25px;
}
.headercontainer .navbutton a {
    display: block;
    text-decoration: none;
    padding: 15px 15px;
    background: linear-gradient(
            63deg,
            rgba(19, 83, 158, 1) 0%,
            rgba(140, 55, 212, 1) 38%,
            rgba(207, 99, 43, 1) 100%
    );
    color: white;
    font-weight: 600;
    border-radius: 10px;
    font-size: 15px;
    transition: background 0.3s ease, font-size 0.3s ease;
}

.headercontainer .navbutton a:hover {
    background: linear-gradient(
            -63deg,
            rgba(19, 83, 158, 1) 0%,
            rgba(140, 55, 212, 1) 38%,
            rgba(207, 99, 43, 1) 100%
    );
    color: white;
    font-weight: 600;
    border-radius: 10px;
    font-size: 20px;
    transform: scale(1.05);
}

.navbutton.mobile a {
    display: none;
    margin: 5%;
    width: 90%;
    text-decoration: none;
    padding: 15px;
    background: linear-gradient(
            63deg,
            rgba(19, 83, 158, 1) 0%,
            rgba(140, 55, 212, 1) 38%,
            rgba(207, 99, 43, 1) 100%
    );
    color: white;
    font-weight: 600;
    border-radius: 10px;
}
@media (max-width: 768px) {
    body {
        background: black;
        border: 4px solid;
        border-image: linear-gradient(
                63deg,
                rgba(19, 83, 158, 1) 0%,
                rgba(140, 55, 212, 1) 38%,
                rgba(207, 99, 43, 1) 100%
        )
        1;
    }
    .mobileIntro{
        margin: 20px;
        display: flex !important;
        justify-content: center; /* Horizontally centers the img */
        align-items: center;
    }
    .mobileIntro img{
        width: 300px;
        height: 300px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-content: center;

    }
    .mobile{
        display: block !important;
    }
    .mobileHide{
        display: none;
    }


    .headercontainer .title h1.mobile {
        display: block;
    }
    .headercontainer .title h1.non {
        display: none;
    }
    .headercontainer .title .logo {
        display: none;
    }
    .headercontainer .nav .navitem a {
        display: none;
    }
    .headercontainer .navbutton a {
        display: none;
    }
    .navbutton.mobile a {
        display: block;
    }
    .topIMG h1{
        font-size: 50px !important;
    }
    .right {
        line-height: 40px !important;
        margin-bottom: 100px;
        font-weight: 100;
        font-size: 20px !important;
        color: #ffffff !important;
        margin-bottom: 1rem !important;
    }
    .left {
        margin-bottom: 100px;
        line-height: 40px !important;
        font-weight: 100;
        font-size: 30px !important;
        color: #ffffff !important;
        margin-bottom: 1rem !important;
    }

}
.margin10 {
    margin: 10px ;
}
.margin20 {
    margin: 20px;
    padding: 20px;
}
.mobileIntro{
    display: none;
}
.introimage img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
.mobile{
    display: none;
}


.block{
    display: block;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid white;
    justify-content: center;
    align-content: center;
}


.introText{
    margin-top: 50px;
    margin-bottom: 50px;
}
.scrollDown{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
/* Main */
body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.scroll-container {
    height: 300vh; /* Height for scrolling */
}

.scroll-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.scroll-section.active {
    opacity: 1;
    transform: translateY(0);
}

#section1 {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: white;
}

#section2 {
    background: #e74c3c;
    color: white;
}

#section3 {
    background: #2ecc71;
    color: white;
}
/* Hall Of Fame */
.headerImg{
    width: 90%;
    height: 90%;
    border-radius: 20px;


}
.topIMG {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.topIMG h1{
    font-size: 100px;
}
.scroll-animation {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 50px 0;
}


.extraText {
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.extraText p{
    font-size: 25px;
    font-weight: 100;
    color: #ffffff;
    margin-bottom: 1rem;
}
.scroll-animation h1 {
    font-size: 130px;
    font-weight: bold;
    color: transparent;
    background-image: linear-gradient(to top, #3498db 0%, #3498db 100%);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 100% 0%;
    background-repeat: no-repeat;
    transition: background-size 0.1s ease-out;
}
.scroll-animation p {
    font-size: 25px;
    font-weight: 100;
    color: transparent;
    background-image: linear-gradient(to top, white 0%, white 100%);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 100% 0%;
    background-repeat: no-repeat;
    transition: background-size 0.1s ease-out;
}


.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    height: 70%;
}

/* Section Title */
/*.section-title {*/
/*    font-size: 3rem;*/
/*    font-weight: bold;*/
/*    margin-bottom: 30px;*/
/*    color: #ffffff;*/
/*    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); */
/*}*/

.skills-list h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 10px 0;
    line-height: 1.5;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: transform 0.3s ease, background 0.3s ease;
}

.skills-list h2:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.2);
}
.reveal-text {
    overflow: hidden;
    position: relative;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.reveal-text.reveal-active {
    opacity: 1;
    transform: translateX(0);
}